body {
  top:0px; left: 0px;
  /* background: linear-gradient(90deg, #FDBB2D 0%, #531603e0 100%); */
  /* background-image: url( '/static/images/bg.png' );  */
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0;
}

p {
  font-size: 1.3rem;
}

/* text-general {
  font-size: 1.3rem;
} */

.text-general-delivery {
  font-size: 1.3rem;
  padding: 0px 20px 0px 60px;
  /* padding-left: 60px; */
}

@font-face {
  font-family: my-nav-font;
  src: url('/static/fonts/VanillaExtractRegular.ttf'); 
}
  /*src: url('/static/fonts/CharlemagneStd-Bold.otf');
  src: url('/static/fonts/KingthingsHand.ttf')
*/


.thick-hr {
  width: 100%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(129, 21, 21); 
  background-image: linear-gradient(90deg, rgb(238, 195, 6), transparent);
  border:0
}



.logo {
  width: 100%;
  height: auto;
}

.nav-item{
  font-family: my-nav-font;
  font-size: 1.1rem;
  background-color: white;
}

.my-nav {
  font-family: my-nav-font;
  font-size: 1.1rem;
  background-color: white;
}


.form-inline a {
  text-decoration: none;
  font-size: 1rem;
  color: #807b77;
  font-weight: 100;
}

.form-inline a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  font-weight: 100;
}

.link-icon {
  text-decoration: none;
  font-size: 1.5rem; 
  color: #807b77;
  font-weight: bold;
}

.link-icon :hover {
  color: #000;
}

.icon-text {
  font-size: 1rem;
  color: #807b77;
}
.link-text :hover {
  color : #000
}


#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
  color:brown;
  font-size: large;
}

#cart-icon-img{
	width:25px;
	display: inline-block;
	margin-left: 15px;
  color:brown;
  font-size: large;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 11px;
  padding:1px;
}

.cart-span {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  color: rgb(255, 255, 255);
  /* color:#fff; */
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(100, 104, 104);

}


@font-face {
  font-family:myheader1;
  src:url('/static/fonts/Vecna.otf')
}
@font-face {
  font-family:myheader2;
  src:url('/static/fonts/CharlemagneStd-Bold.otf')
}

@font-face {
  font-family:myheader3;
  src: url('/static/fonts/VanillaExtractRegular.ttf'); 
  /* src: url('/static/fonts/KingthingsHand.ttf'); */
  /* src:url('/static/fonts/victorianDecade.otf') */
}

.header1 {
  font-family: myheader1;
  /* font-size: 2rem; */
  white-space: nowrap;
  font-size: 3rem;;
}
.header2 {
  font-family: myheader2;
  white-space: nowrap;
  /* font-size: 3rem; */
  font-size: 4.5em;;
}
.header3 {
  font-family: myheader3;
  white-space: nowrap;
  font-size: 2rem;;
}

.header4 {
  text-align: center;
  font-family: myheader3;
  font-size: 2rem;;
}

.home {
  /* margin-top: 1.5em; */
  margin-bottom: 0.75em;
  text-align: center;

}

.call-to-act {
  /* border:3px solid rgb(255, 5, 59); 
  background-color:rgb(255, 251, 5); */
  margin:0 15px;
  /* padding:10 50px; */
}

.call-to-act2 {
  border:3px solid rgb(255, 43, 5); 
  background-color: rgb(5, 255, 47); ;
  color: white;
  margin:0 5px;
}


.home1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}


.img-main{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  .wrapper-featured-outer {
    background-color:rgb(255, 255, 255) ; 
    left:0; right: 0; margin-top: 2em; 
    height: 100%; min-height: 600px; top:0  
  }



.wrapper-featured {
  display: flex;  
  justify-content:space-evenly;
}

.featured {
  border:2px solid brown; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
} 


.brands {
  margin-top: 10px;
  text-align: center;
 }
.thumb-brand {
  margin:5px 15px;
}

/*  GENERAL PAGE LAYOUT */

.page-wrapper {
  background: linear-gradient(90deg, #FDBB2D 0%, #531603e0 100%);
  min-height: 100vh;
  background-size:cover;
  position: relative;
}

.page-wrapper-inner {
  background-color: white; 
  min-height: 100vh;
  top:20px; 
  padding-top:20px;
  position:relative;
}

.pad-30 {
  padding:30px 0px
}
.pad-20 {
  padding:20px 0px
}


.sticky-footer {
  margin-top: 30px;
  min-height: 40px;
  position: sticky;
  top:100%
}

/* SHOP STYLE */

.product-row {
  text-align: center; 
  justify-content: center;
}

.product-info {
  margin:5px; 	
  /* background-color: rgb(255, 255, 255);  */
  width: 280px; 
  /* border-right: 0.25px solid rgb(76, 80, 76); 
  border-bottom: 0.25px solid rgb(76, 80, 76);  */
  border-radius: 5px; padding:5px;
  /* padding:3px; */
}

.box-element{
	box-shadow:hsl(0, 11%, 48%) 0 2px 6px;
	border-radius: 4px;
	padding: 10px;
  text-align: left;
  margin-left: 5px;
}

.box-element-product{

	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  -webkit-box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  -moz-box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  border-radius: 4px;
	padding: 10px;
  text-align: center;

}

.img-product{
  width: auto;
	height: 200px;
}

/* SMALL SCREEN */
@media screen and (max-width:576px){
  .logo {
    width: 150px;
    height: auto;
  }

  .img-main {
    width: 80%;
    height: auto;
  }

  body {
    top:0px; left: 0px;
    margin: 0;
  }

  .header1 {
    font-family: myheader1;
    font-size: 1rem;
    white-space: nowrap;
  }
  .header2 {
    font-family: myheader2;
    white-space: nowrap;
    font-size: 2rem;
  }
  .header3 {
    font-family: myheader3;
    white-space: nowrap;
    font-size: 1rem;
  }
  .header4 {
    font-family: myheader3;
    font-size: 1.5rem;
  }

  .cart-row{
    display: flex;
    font-size: 0.75rem;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
  
  .delete-item {
    border:1px solid #a3968a;
    border-radius: 3px;
    padding:3px; 
    color:red;
    margin-right: 25px;
    font-size: 0.75;
  }

  /* .cart-item-text {
    font-size: 1rem;
  } */

}

.benefits-list-item {
  font-size: 1.3rem;
  margin-left: 15px;
}

/*--- cart style ---*/
.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.delete-item {
  border:1px solid #a3968a;
  border-radius: 3px;
  padding:3px; 
  color:red;
  margin-right: 25px;
  font-size: large;
}

.hidden{
	display: none!important;
}

.cart-row{
	display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.change-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.change-quantity:hover{
	opacity: .6;
}

.text-treat {
  width:120px;  
  text-align: center;
  font-size:1.2rem;
}

.product-info-treat {
  margin:12px; 	
  width: 160px;
  height: 180px; 
  border: 0.25px solid rgb(76, 80, 76); 
  border-radius: 5px; padding:5px;
}

/****MAPS CSS *****/

#map {
  height: 400px;
  width: 100%;
}