.env
ecommerce/static-old
ecommerce/templates/base1.html
ecommerce/templates/base2.html
ecommerce/templates/index1.html
ecommerce/store/templates/store/store-save.html
ecommerce/store/templates/store/main.html
ecommerce/store/templates/store/checkout-local.html
ecommerce/static/images/test/
ecommerce/static/js/cart1.js
ecommerce/papal-test.txt
ecommerce/store/views1.py
ecommerce/store/migrations/0008_auto_20221017_1542.py
ecommerce/store/migrations/0009_auto_20221018_0035.py
ecommerce/store/migrations/0010_auto_20221018_2234.py
ecommerce/store/migrations/0011_auto_20221019_1541.py
ecommerce/store/migrations/0012_auto_20221025_2020.py
ecommerce/store/migrations/0013_auto_20221025_2151.py
ecommerce/store/migrations/__pycache__/0008_auto_20221017_1542.cpython-38.pyc
ecommerce/store/migrations/__pycache__/0009_auto_20221018_0035.cpython-38.pyc        
ecommerce/store/migrations/__pycache__/0010_auto_20221018_2234.cpython-38.pyc
ecommerce/store/models1.py
info.txt