{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<!-- templates/registration/password_reset_confirm.html -->
<div style="min-height:100vh;">
  <div class="row justify-content-center t20">
    <h2>Set a new password!</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6 pad-20 vh50">
      <div class="jumbotron">

        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Change my password">
        </form>

      </div>
    </div>
  </div>  
</div>

{% endblock %}
