{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div style="min-height:100vh;">
  <div class="row justify-content-center t20">
    <div class="col-lg-6  vh50">
      <div class="jumbotron">
        <p>
          An email has been sent to your registered email address with the link to reset your password.
          Please check your email and clik on the link provided or copy and paste the link in a browser window. <br><br>
          Check your spam folder if you don't find the email in your inbox.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
