{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="container home1"> 
            <div class="header3">Yorkshire</div>
            <div class="header2">K9 RAW</div>
            <div class="header3">to your door</div>
        </div>
        <div>
            <img src="{% static 'images/dogs.png' %}" class="img-main">
        </div>

        <div class="home header4"">   <p>Quality Raw Dog Food delivered to your door </p> </div>
        <div class="home">
            <button class="btn btn-lg call-to-act">  
                Shop Now
            </button>
            <button class="btn btn-lg btn-outline-success call-to-act2"> 
                See Deals
            </button>
        </div>
    </div>
</div>
    <div class="container-fluid" 
            style="background-color:rgb(255, 255, 255) ; 
                left:0; right: 0; margin-top: 2em; 
                height: 100%; min-height: 600px; top:0">
        <div class="container" style="text-align: center;">
            <div class="row"> <h2 style="margin:20px  0;">Featured Products</h2></div>
            <div class="row wrapper-featured">
                <div class="col-md-3 featured">
                    <div>
                        <img src="{% static 'images/brand-totally.png' %}" width="100px" style="float:left">
                        <img src="{% static 'images/specialoffer.png' %}"  width="150px"  style="float:right">
                    </div>
                    <div>
                        <h5>Any box of Totaly Natural 8 x 1kg bags</h5>
                        <h4> only £27</h4>
                    </div>
                    <button class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                </div>
                <div class="col-md-3 featured">
                    <div>
                        <img src="{% static 'images/brand-finerbynature.png' %}" width="100px" style="float:left">
                        <img src="{% static 'images/specialoffer.png' %}"  width="150px"  style="float:right">
                    </div>
                    <div>
                        <h5>Any 14 1kg bags of Finer by nature</h5>
                        <h4> only £47</h4>
                    </div>
                    <button class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                </div>
                <div class="col-md-3 featured">
                    <div>
                        <img src="{% static 'images/brand-durhams.png' %}" width="100px" style="float:left">
                        <img src="{% static 'images/specialoffer.png' %}"  width="150px"  style="float:right">
                    </div>
                    <div>
                        <h5> Any 14 block Box of Durham</h5>
                        <h4> only £19 </h4><br/>
                    </div>
                    <button class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="brands">
            <img src="{% static 'images/brand-albion.png' %}" class="thumb-brand" />
            <img src="{% static 'images/brand-durhams.png' %}" class="thumb-brand" />
            <img src="{% static 'images/brand-finerbynature.png' %}" class="thumb-brand" />
            <img src="{% static 'images/brand-totally.png' %}" class="thumb-brand" />
            <img src="{% static 'images/brand-breederschoice.png' %}" class="thumb-brand" />
        </div>

    </div> 



{% endblock content %}